<!-- 
    Color theme switcher.
    Borrowed from https://getbootstrap.com/docs/5.3/
-->

<li class="nav-item dropdown">
    <button id="theme-selector-button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
        type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
        <span class="theme-icon-active me-1">
            <i class="fa-fw fa-solid fa-circle-half-stroke opacity-50"></i>
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="theme-selector-button" style="--bs-dropdown-min-width: 8rem;">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                <i class="fa-fw fa-solid fa-sun opacity-50"></i>
                <span class="ms-2">
                    <span lang="en">Light</span>
                    <span lang="de">Hell</span>
                </span>
                <span class="ms-auto d-none onactive">
                    <i class="fa-solid fa-check small opacity-50"></i>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark">
                <i class="fa-fw fa-solid fa-moon opacity-50"></i>
                <span class="ms-2">
                    <span lang="en">Dark</span>
                    <span lang="de">Dunkel</span>
                </span>
                <span class="ms-auto d-none onactive">
                    <i class="fa-solid fa-check small opacity-50"></i>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                <i class="fa-fw fa-solid fa-circle-half-stroke opacity-50"></i>
                <span class="ms-2">
                    <span lang="en">Auto</span>
                    <span lang="de">Auto</span>
                </span>
                <span class="ms-auto d-none onactive">
                    <i class="fa-solid fa-check small opacity-50"></i>
                </span>
            </button>
        </li>
    </ul>
</li>
