{% assign pageid = page.url | replace_first : "/",
"" | append : "@" | replace : "/@",
"" | replace : "@",
"" | replace : "/",
"_" %}
{% assign pageparts = page.url | replace_first : "/",
"" | append : "@" | replace : "/@",
"" | replace : "@",
"" | split : "/" %}

<ol id="breadcrumbs" class="breadcrumb">
    {% assign part = site.data.pagelist["home"] %}
    <li class="breadcrumb-item">
        <a href="{{ part.url }}">{{ part.title }}</a>
    </li>
    {% if pageid %}
        {% for partname in pageparts %}
            {% assign part = part.pages[partname] %}
            <li class="breadcrumb-item">
                <a {% if part.url %} href="{{ part.url | relative_url }}" {% else %} style="text-decoration: none;" {% endif %}><span>{{ part.title }}</span></a>
            </li>
        {% endfor %}
    {% endif %}
</ol>