<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Seiten</h3>
                    <ul>
                        <li><a href="/">Startseite</a></li>
                        <li><a href="/projekte">Projekte</a></li>
                        <li><a href="/kontakt">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sprachen</h3>
                    <ul>
                        <li><a href="/">Deutsch</a></li>
                        <li><a href="/en/">Englisch</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Rafael Urben</h3>
                    <p>Lorem impsum... Ach was, das ist doch langweilig.</p>
                </div>
                <div class="col item social">
                    <a href="https://go.rafaelurben.ch/github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/mail">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/discord">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://go.rafaelurben.ch/twitch">
                        <i class="fab fa-twitch"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">Rafael Urben © 2021</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>