<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="twitter:description" content="{{ page.sescription | default: page.subtitle }}">
<meta name="twitter:image" content="/assets/img/apple-touch-icon.png">
<meta name="description" content="{{ page.description | default: page.subtitle }}">
<meta property="og:type" content="{% if page.isarticle %}article{% else %}website{% endif %}">
<meta property="og:image" content="/assets/img/icon-512x512.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/icon-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon-512x512.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="/assets/css/Footer-Dark.css">
<link rel="stylesheet" href="/assets/css/Highlight-Blue.css">
<link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
<link rel="stylesheet" href="/assets/css/Projects-Horizontal.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/Team-Boxed.css">