
<!-- Meta display -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Meta preview -->
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: page.subtitle }}">
    <meta name="twitter:description" content="{{ page.description | default: page.subtitle }}">
    <meta name="twitter:image" content="/assets/img/apple-touch-icon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">

    <meta property="og:type" content="{% if page.isarticle %}article{% else %}website{% endif %}">
    <meta property="og:image" content="/assets/img/icon-512x512.png">

{% if page.noindex %}
    <meta name="robots" content="noindex">
{% endif %}

<!-- Icons  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon-512x512.png">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

<!-- Manifest -->
    <link rel="manifest" href="/manifest.json">

<!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css"
        integrity="sha256-Z1K5uhUaJXA7Ll0XrZ/0JhX4lAtZFpT6jkKrEDT0drU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha256-ky6hUQiSiZG88MCkZBX8ZS3l/8AVjDUgU1e5DGXus4Y=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/customstyle.css">

<!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha256-lSABj6XYH05NydBq+1dvkMu6uiCc/MbLYOFGRkf3iQs=" crossorigin="anonymous"></script>
