{% assign language = page.language | default: "de" %}
{% assign lang = site.data.languages[language].navigation %}

<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">Rafael Urben</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                {% for item in lang.items %}
                    {% if item.type == "dropdown" %}
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">{{ item.title }}</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% for ditem in item.items %}
                                    {% if ditem.type == "divider" %}
                                        <div class="dropdown-divider"></div>
                                    {% elsif ditem.type == "header" %}
                                        <h6 class="dropdown-header">{{ ditem.title }}</h6>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ ditem.href }}">{{ ditem.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.href }}">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page.languages %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i
                            class="fas fa-globe-europe"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for lang in page.languages %}
                        <a class="dropdown-item" href="{{ lang.href }}">{{ lang.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>