/* Main */

body {
    min-height: 100vh;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

/* Header */

nav .dropdown-menu .active .onactive {
    display: block !important;
}

/* Language */

html[lang="en"] [lang]:not([lang="en"]) {
    display: none;
}

html[lang="de"] [lang]:not([lang="de"]) {
    display: none;
}

/* Social Links */

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.social_links a {
    margin: 0 0.5rem;
    color: var(--bs-body-color);
    transition-duration: 0.25s;
    font-size: 1.2rem;
}

.social_links a:hover {
    color: var(--hover-color);
}

/* Footer */

.footer {
    margin: 2rem;
}
