---
layout: none
---

/* Status indicators */

.status_indicator {
    display: inline-block;
    width: 0.5em;
    border-radius: 1em;
    padding: 0.3em 0.7em;
    font-size: small;
}

.status_indicator:hover {
    width: initial;
}

.status_indicator>span::before {
    display: block;
    color: white;
    content: "\A0"; /* &nbsp; */
}

/* Project status */

{% for status in site.data.projectsettings.statuss_project %}
.status_indicator.status_pr_{{ status.title }} {
    border: {{ status.color }} solid;
    /* background-color: {{ status.color }}; */
}
.status_indicator.status_pr_{{ status.title }}:hover>span::before {
    content: "{{ status.title }}";
}
{% endfor %}

/* Dev status */

{% for status in site.data.projectsettings.statuss_dev %}
.status_indicator.status_dev_{{ status.title }} {
    border: {{ status.color }} dotted;
}
.status_indicator.status_dev_{{ status.title }}:hover>span::before {
    content: "{{ status.title }}";
}
{% endfor %}
