#breadcrumbs {
    margin-bottom: 0;
    border-radius: 0;
}

a.nodeco {
    text-decoration: none;
    color: unset;
}

/* Make footer sticky */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
}

.footercontainer {
    margin-top: auto;
}