---
layout: default
permalink: /projects/
title: Projekte
description: Eine Übersicht über alle Projekte, die ich in der Vergangenheit umgesetzt habe und aktuell umsetze.
stylesheets:
- /assets/css/forms.css
- /assets/css/pages/projects.css
scripts:
- /assets/js/projects.js
---

<h3>Projekte</h3>

<p>Hier findest du meine Projekte. Fast alle Projekte sind auch auf <a href="https://github.com/rafaelurben/">GitHub</a>
    zu finden.</p>

<h4>Alle Kategorien</h4>

{% assign categories = site.data.projectsettings.categories %}

<article id="category-grid">
    {% for cat in categories %}
        {% assign cid = cat[0] %}
        {% assign category = cat[1] %}
        <a href="{{ '/projects/category/' | append: cid | append: '/' | relative_url }}" class="category">
            <h1>{{ category.title }}</h1>
            <p class="description">{{ category.description }}</p>
        </a>
    {% endfor %}
</article>


<h4>Alle Projekte</h4>

<form id="filter-form" class="horizontal">
    <div class="form-group">
        <label for="filter-category">Kategorien:</label>
        <select id="filter-category" onchange="applyFilters();">
            <option value="all">Alle</option>
            {% for cat in site.data.projectsettings.categories %}
                <option value="{{ cat[0] }}">{{ cat[1].title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="filter-status-project">Projektstatus:</label>
        <select id="filter-status-project" onchange="applyFilters();">
            <option value="all" data-status-dev="all">Alle</option>
            {% for status in site.data.projectsettings.project_status %}
                <option value="{{ status[0] }}" data-status-project="{{ status[0] }}">{{ status[1].title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="filter-status-dev">Entwicklungsstatus:</label>
        <select id="filter-status-dev" onchange="applyFilters();">
            <option value="all" data-status-dev="all">Alle</option>
            {% for status in site.data.projectsettings.dev_status %}
                <option value="{{ status[0] }}" data-status-dev="{{ status[0] }}">{{ status[1].title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="filter-search">Suche:</label>
        <input type="text" id="filter-search" placeholder="Suchbegriff eingeben" oninput="applyFilters();">
    </div>
</form>

{% assign projects = site.data.projects %}

<p id="project-count" class="weak"></p>

<div id="project-grid">
    {% for pro in projects %}
        {% assign project = pro[1] %}
        {% include project-card.html project=project %}
    {% endfor %}
</div>
