<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Rafael Urben</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-pages"
                    aria-controls="nav-pages" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-pages">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                <span lang="en">About Me</span>
                                <span lang="de">Über mich</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">
                                <span lang="en">Projects</span>
                                <span lang="de">Projekte</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">
                                <span lang="en">Contact</span>
                                <span lang="de">Kontakt</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% include nav/toggle_language.html %}
                        {% include nav/toggle_appearance.html %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </main>

    <hr>

    <footer class="footer">
        {% include social_icons.html %}
    </footer>
</body>

</html>
