<!DOCTYPE html>
<html lang="de">

<head>
    {% include head.html %}
</head>
<body class="nav-hidden">

<header>
    <div class="container">
        <a id="page-title" class="decorated-nav-link" href="{{ "/" | relative_url }}">Rafael&nbsp;Urben</a>
        <div id="nav-toggler" onclick="toggleNavigation()" tabindex="0">
            <span></span>
        </div>
        <nav id="main-nav">
            <hr class="mobile-only">
            <ul>
                <li>
                    <a class="decorated-nav-link" href="{{ "/" | relative_url }}">Startseite</a>
                </li>
                <li>
                    <a class="decorated-nav-link" href="{{ "/about/" | relative_url }}">Über mich</a>
                </li>
                <li>
                    <a class="decorated-nav-link" href="{{ "/projects/" | relative_url }}">Projekte</a>
                </li>
                <li>
                    <a class="decorated-nav-link" href="{{ "/support/" | relative_url }}">Unterstützen</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container{% if page.centered %} center{% endif %}">
        {{ content }}
    </div>
</main>

<footer>
    <div class="container">
        <div class="copyright-info">
            © Rafael Urben - 2025
        </div>
        <nav>
            <a id="impressum-link" class="decorated-nav-link" href="{{ "/impressum/" | relative_url }}">Impressum &
            Kontakt</a>
        </nav>
        <nav id="social_links">
            <ul>
                {% for platform in site.data.social_links %}
                <li>
                    <a href="{{ platform.url }}" title="{{ platform.name }}"
                       style="--hover-color: {{ platform.color }};" target="_blank">
                        <i class="{{ platform.icon }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</footer>

{% for script in page.scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}

</body>
</html>
