<!DOCTYPE html>
<html lang="{{ page.language | default: de }}">

<head>
    {% include head.html %}

    <style>
        #title {
            background-color: var(--red);
            background-color: {{ page.titlebg }};
        }   
    </style>
</head>

<body>
    {% include navigation.html %}

    {% unless page.nobreadcrumbs %}
        {% include breadcrumbs.html %}
    {% endunless %}

    {% if page.title %}
    <div class="highlight" id="title">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">{{ page.title }}</h2>
                <p class="text-center">{{ page.subtitle }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    {{ content }}

    {% include footer.html %}
</body>

</html>