<!DOCTYPE html>
<html lang="{{ page.language | default: de }}">

<head>
    {% include head.html %}

    <style>
        #title {
            background-color: #c60000;
            background-color: {{ page.style.titlebg }};
        }   

        #title p {
            color: #e4e4e4;
            color: {{ page.style.subtitlecolor }};
        }
    </style>
</head>

<body>
    {% include navigation.html %}

    {% if page.breadcrumbs %}
        {% include breadcrumbs.html %}
    {% endif %}

    {% if page.subtitle %}
    <div class="highlight" id="title">
        <div class="container">
            <div class="intro">
                <h2 id="titletext" class="text-center">{{ page.title }}</h2>
                <p id="subtitletext" class="text-center">{{ page.subtitle }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    {{ content }}

    {% unless page.nofooter %}
        {% include footer.html %}
    {% endunless %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
        integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>