<!DOCTYPE html>
<html lang="de">
{% if page.redirect.is_relative %}
    {% assign url = page.redirect.to | absolute_url %}
{% else %}
    {% assign url = page.redirect.to %}
{% endif %}

<head>
    <title>Weiterleiten&hellip;</title>
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="1; url={{ url }}">
    <link rel="canonical" href="{{ url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <style>
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Weiterleiten&hellip;</h1>
    <p>Falls die automatische Weiterleitung nicht funktioniert, bitte <a href="{{ url }}">hier</a> klicken.</p>
</body>
</html>
